/*--------------General Style----------------*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

:root {
/*----------------Primary --------------------*/
--scissors-gradient_1: hsl(39, 89%, 49%);
--scissors-gradient_2: hsl(40, 84%, 53%);
--paper-gradient_1: hsl(230, 89%, 62%);
--paper-gradienr_2: hsl(230, 89%, 65%);
--rock-gradient_1: hsl(349, 71%, 52%);
--rock-gradient_2: hsl(349, 70%, 56%);

/*------------Neutral------------------*/
--dark-text: hsl(229, 25%, 31%);
--score-text: hsl(229, 64%, 46%);
--header-outline: hsl(217, 16%, 45%);

/*------------Background-----------------*/
--radial-gradient_1: hsl(214, 47%, 23%);
--radial-gradient_2: hsl(237, 49%, 15%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, var(--radial-gradient_2),  var(--radial-gradient_1));
}

/*-------------Board Score --------------------*/

.board__container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    border: 3px solid var(--header-outline);
    border-radius: 10px;
}

.board__image {
    width: 6rem;
    height: 3.5rem;
}

.score__container {
    display: flex;
    padding: .6rem 1.2rem;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: linear-gradient(0deg, rgb(229, 228, 228), rgb(255, 254, 254));
}

.score__title {
    font-size: .75rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--score-text);
}

.score__number {
    font-size: 2.5rem;
    color: var(--dark-text);
}

/*-------------- Game Section -----------------------*/

.game__container {
    position: relative;
    width: 60%;
    height: 15rem;
    margin: 10rem auto 0 auto;
    background-image: url(./src/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picked__container {
    position: relative;
    display: flex;
    width: 90%;
    height: 15rem;
    margin: 5rem auto 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.paper {
    position: absolute;
    padding: 1.5rem;
    top: -3rem;
    left: -3rem;

    border-radius: 50%;
    border: 1rem solid var(--paper-gradient_1);
    background-color: rgb(255, 255, 255);
}

.paper__picked {
    padding: 1.5rem;

    border-radius: 50%;
    border: 1rem solid var(--paper-gradient_1);
    background-color: rgb(255, 255, 255);
}

.scissors {
    position: absolute;
    padding: 1.5rem;
    top: -3rem;
    right: -3rem;

    border-radius: 50%;
    border: 1rem solid var(--scissors-gradient_1);
    background-color: rgb(255, 255, 255);
}

.scissors__picked {
    padding: 1.5rem;

    border-radius: 50%;
    border: 1rem solid var(--scissors-gradient_1);
    background-color: rgb(255, 255, 255);
}

.rock {
    position: absolute;
    padding: 1.5rem;
    bottom: -2rem;
    left: 3rem;

    border-radius: 50%;
    border: 1rem solid var(--rock-gradient_1);
    background-color: rgb(255, 255, 255);
}

.rock__picked {
    padding: 1.5rem;

    border-radius: 50%;
    border: 1rem solid var(--rock-gradient_1);
    background-color: rgb(255, 255, 255);
}

.user__choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    letter-spacing: 1.5px;
    font-weight: 700;
    color: rgb(254, 254, 254);
}

.pc__choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    letter-spacing: 1.5px;
    font-weight: 700;
    color: rgb(254, 254, 254);
}

.figure {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: linear-gradient(0deg, black, transparent);
}

/*-------------- Animation ------------------------*/

.animation {
    animation-duration: .5s;
    animation-name: pcChoice;
}

@keyframes pcChoice {
    0% {
        margin-top: -30px;
        padding: 0;
    }

    25% {
        margin-top: -20px;
        padding: .85rem;
    }

    50% {
        margin-top: -30px;
        padding: 1rem;
    }

    100% {
        margin-top: 0;
        padding: 1.5rem;
    }
}

/*--------------- Rules ----------------------------*/

.rules__btn {
    padding: .7rem 2rem;
    margin: 10rem auto;

    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.5px;

    border-radius: 6px;
    border: 3px solid var(--header-outline);
    background-color: transparent;
    color: rgb(255, 255, 255);
}